article {
  display: inline;
}

.dashboard {
  text-align: center;
  width: 800px;
  margin: auto;
/*  visibility: hidden;*/
}

.level-display,
.lives-remaining,
.reset-button,
.score-display {
  display: inline-block;
  font-size: 22px;
  margin: 10px 20px 0px 20px;
}

.reset-button {
  margin-top: 20px;
}

#game {
  border: 1px dashed;
  margin: auto;
  margin-top: 50px;
  display: block;
}









